<%= turbo_frame_tag dom_id(message), class: 'message',
    data: { controller: 'message', action: 'mouseout->message#toggleActions mouseover->message#toggleActions', 'message-author-id-value': message.users_id } do %>

  <div class="message-user">
    <%= h User.find(message.users_id).last_name %>
  </div>
  <div class='message-date'>
    <%= message.created_at %>
    <% if message.edited? %>
    <div class='col'>
      <span class='fw-light fs-7'>edited <%= message.updated_at %></span>
    </div>
  <% end %>
  </div>
  <div class='col invisible' data-message-target='actions'>
  </div>

  <div class='formatted-content'>
    <%= message.content %>
  </div>
<% end %>