<%= turbo_frame_tag dom_id(message),
    data: { controller: 'message', action: 'mouseout->message#toggleActions mouseover->message#toggleActions', 'message-author-id-value': message.users_id } do %>
  <div class="message">
    <div class="message-content">
      <div class="message-user">
        <%= link_to message.user_element.email + " " + message.user_element.last_name + " " + message.user_element.first_name, controller: "users", action: "show", id: message.users_id %>
      </div>
      <div class='message-date'>
        <%= message.created_at %>
        <% if message.edited? %>
        <div class='col'>
          <span class='fw-light fs-7'>edited <%= message.updated_at %></span>
        </div>
      <% end %>
      </div>
      <div class='col invisible' data-message-target='actions'>
        
      </div>
      <div class='formatted-content'>
        <%= message.content %>
      </div>
    </div>
  </div>
<% end %>