<a 
    class="list-group-item d-flex justify-content-between align-items-start" 
    href="<%= url_for ({controller: "conversations", action: "read", id: conversation.id}) %>"
>
    <% last_message = conversation.messages.last %>
    <div class="ms-2 me-auto">
        <% if !conversation.direct %>
        <div class="fw-bold"><%=conversation.uid %></div>
        <% else %>
        <% current_conversant = conversation.users.where.not(id: @current_user.id).first %>
        <div class="fw-bold">Direct messages with <%=current_conversant.last_name %> <%=current_conversant.first_name %></div>
        <% end %>
        <% if last_message %>
        <%= last_message.content %>
        <% end %>
    </div>
    <% if last_message %>
        <span class="badge text-bg-primary rounded-pill">
        <%= last_message.updated_at.strftime('%d.%m.%Y %H:%M') %>
        </span>
    <% end %>
</a>