<div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
            <div class="media-body mb-5 text-white">
                <h1 class="pt-4 mb-0">Conversations</h1>
                <a href="#" class="btn btn-dark btn-sm btn-block" data-bs-toggle="modal" data-bs-target="#createConvModal">
                  New conversation
                </a>
            </div>
        </div>
    </div>

    <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <div class="font-weight-bold mb-0 h5 d-block"><%= current_user.conversations.count %></div>
                <small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Conversations</small>
            </li>
        </ul>
    </div>

    <div class="py-4 px-4">
        <div class="py-4">
          <%= turbo_stream_from "conversations" %>
          <ol class="list-group" id="conversations">
            <% @elements.each do |element| %>
              <%= render partial: 'conversation', :locals => {:element => element} %>
            <% end %>
          </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createConvModal" tabindex="-1" aria-labelledby="createConvModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h1 fs-5" id="createConvModalLabel">Create conversation</div>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <%= form_for :conversation, :id => 'createConversationForm' do |f| %>
        <div class="field mb-3">
          <%= f.label :name, class: 'form-label' %><br />
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="field mb-3">
          <%= f.label :friends, class: 'form-label' %><br />
          <%= select_tag('users[]', options_from_collection_for_select([], :id, :email), {:class => 'select-friends', :multiple => true, :style => 'width: 100%'}) %>
        </div>

        <%= f.submit "Create", class: 'btn btn-default btn-primary btn-block' %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<script>
$(window).on('load', function() {
  function formatFriend (friend) {
    var $friend = $(
      '<span>' + friend.email + ': ' + friend.last_name + " " + friend.first_name + '' + '</span>'
    );
    return $friend;
  };

  $(".select-friends").select2({
    templateResult: formatFriend,
    templateSelection: formatFriend,
    multiple: true,
    tags: false,
    delay: 400,
    dropdownParent: $('#createConvModal'),
    ajax: {
      url: '/friends/list',
      dataType: 'json',
      data: function (params) {
        var query = {
          search: params.term
        }
        return query
      },
      processResults: function (data) {
        return {
          results: data.data
        };
      },
      cache: true
    }
  })

  $('#createConversationForm').on('submit', function(event) {
    event.preventDefault()

    const formValues = $('#createConversationForm').serializeArray()
    let values = {}

    for (let i = 0; i < formValues.length; i++) {
      if (formValues[i].name === 'conversation[name]') {
        values['conversation'] = {}
        values.conversation.name = formValues[i].value
      }
    }

    delete values['users[]']
    values['user'] = {}
    values['user']['ids'] = []
    const realUsers = $(".select-friends").select2('data')

    for (let i = 0; realUsers.length > i; i++) {
      values['user']['ids'].push(realUsers[i]['id'])
    }

    request = $.ajax({
      url: "/conversations/create",
      type: "POST",
      data: JSON.stringify(values),
      contentType: "application/json; charset=utf-8",
      headers: {
        "X-CSRF-Token": values['authenticity_token']
      },
      beforeSend(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      }
    })

    request.done(function (response, textStatus, jqXHR){
        console.log(response)
    })
  })
})
</script>