<h1><%=@conversation.uid %></h1>

<div class="row">
  <div class="col-lg-8">
    <div class="messagescontainer" id="messagescontainer">
    <%= turbo_stream_from "conversation_messages:#{@conversation.id}" %>
    <%= turbo_frame_tag "conversation_messages:#{@conversation.id}" do %>     
      1234
    <% end %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="messagesusers" id="messagesusers">
      <% if @users %>
      <ul class="list-group">
        <% @users.each do |user| %>
        <li class="list-group-item"><%=user.email%></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>

<%= form_with model: Message, url: '/messages/create', method: :post, id: 'sendMessage', local: true do |f| %>
  <fieldset>
    <div class="row">
      <div class="col-lg-6">
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="actions col-lg-2">
        <%= f.text_field :conversation_id, type: 'hidden', value: @conversation.id %>
        <%= f.submit "Send", class: 'btn btn-default btn-success btn-block send' %>
      </div>
    </div>
  </fieldset>
<% end %>