<h1><%=@conversation.uid %></h1>

<%= turbo_stream_from @conversation %>

<script>
(function(){
$('.messagescontainer').height($(window).height() - 300)
}())
</script>

<div class="row">
  <div class="col-lg-8">
    <div class='flex-grow-1 messagescontainer d-flex flex-column-reverse overflow-auto message-list' id='messages'>
      <% if @pagy.next.present? %>
      <%= render partial: "next_page" %>
      <% end %>
      <%= turbo_stream.prepend "messages" do %>
        <%= render partial: "messages/message", collection: @messages %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="messagesusers" id="messagesusers">
      <% if @users %>
      <ul class="list-group">
        <% @users.each do |user| %>
        <li class="list-group-item"><%=user.email%></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
  <div class="col-lg-8">
    <%= turbo_frame_tag @message, class: 'flex-shrink-0 px-3 pb-3 pt-2' do %>
      <%= render 'messages/form', message: @new_message %>
    <% end %>
  </div>
</div>