<h1><%=@conversation.uid %></h1>

<%= turbo_stream_from 'messages' %>

<script>
(function(){
$('.messagescontainer').height($(window).height() - 300)
}())
</script>

<div class="row">
  <div class="col-lg-8">
    <div class='flex-grow-1 messagescontainer d-flex flex-column-reverse overflow-auto message-list' id='messages'>
      <% if @pagy.next.present? %>
        <%= render partial: "next_page" %>
      <% end %>

      <%= turbo_stream.prepend "messages" do %>
        <%= render partial: "messages/message", collection: @messages %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4">
    <ul class="messagesusers list-group" id="users">
      <%= turbo_stream.prepend "users" do %>
        <%= render partial: "user", collection: @users %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-8">
    <%= turbo_frame_tag @message, class: 'flex-shrink-0 px-3 pb-3 pt-2' do %>
      <%= render 'messages/form', message: @new_message %>
    <% end %>
  </div>
</div>