<div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
            <div class="profile mr-3">
                <% if ( @user.id == current_user.id ) %>
                <a href="/edit" class="btn btn-dark btn-sm btn-block">Edit profile</a>
                <% end %>
            </div>
            <div class="media-body mb-5 text-white">
                <h1 class="pt-4 mb-0"><%=@user.last_name %> <%=@user.first_name %></h1>
                <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>Joined us at <%=@user.created_at %></p>
                <% if @user.id != current_user.id %>
                    <% if !current_user.has_request?(@user) %>
                        <%= render 'friends/add', friend: @user, btnclass: 'btn btn-dark btn-sm btn-block', btntext: 'Add friend' %> 
                    <% end %>
                    <% if current_user.friend_with?(@user) %>
                        <%= render 'friends/deny', friend: @user, btnclass: 'btn btn-dark btn-sm btn-block', btntext: 'Remove friend' %>
                    <% end %>
                    <% if current_user.friend_with?(@user) %>
                    <a href="" class="btn btn-dark btn-sm btn-block">Send a message</a>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block"><%=@posts.count %></h5>
                <small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Posts</small>
            </li>
            <li class="list-inline-item">
                <h5 class="font-weight-bold mb-0 d-block"><%=@friends.count %></h5>
                <small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Friends</small>
            </li>
        </ul>
    </div>

    <div class="py-4 px-4">
        <div class="py-4">
            <h5 class="mb-3">Recent posts</h5>

            <div class='row posts-row' id='posts'>
                <%= turbo_stream.prepend "posts" do %>
                <%= render partial: "posts/post", collection: @posts %>
                <% end %>
            </div>

            <%==pagy_nav(@pagy) %>
        </div>
    </div>
</div>