<%= form_with(url: defined?(searchlink) ? searchlink : posts_path, method: :get, data: {turbo_frame: "posts"}) do |f| %>
    <%= f.text_field :title, class: 'form-control', value: @search_title_value, placeholder: "title" %>
    <%= f.text_field :content, class: 'form-control', value: @search_content_value, placeholder: "content" %>
    <%= f.submit "Search", data: { disable_with: false }, class: "btn btn-primary" %>
    <a class="btn btn-danger" href="<%=defined?(returnlink) ? returnlink : posts_path%>">Reset</a>
<% end %>