<h1><%= @post.title %></h1>
<p class="post-created">Created: <%= @post.created_at %></p>
<% if @post.updated_at != @post.created_at %>
<p class="post-updated">Updated: <%= @post.updated_at %></p>
<% end %>
<p class="post-content"><%= @post.content %></p>
<%= link_to "Back", controller: "posts", action: "index" %>