<%= turbo_stream_from 'posts' %>

<div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
            <div class="profile mr-3">

            </div>
            <div class="media-body mb-5 text-white">
                <h1 class="pt-4 mb-0">All categories for posts</h1>
                <a href="/posts/create" class="btn btn-dark btn-sm btn-block">Create a post</a>
                <a href="/posts/" class="btn btn-dark btn-sm btn-block">All posts</a>
            </div>
        </div>
    </div>

    <div class="bg-light p-4 d-flex justify-content-end text-center">
        <div class="search-block">
            <% current_link = '/posts/categories/' %>
            <%= render partial: "search", locals: {searchlink: current_link, returnlink: current_link} %>
        </div>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <div class="font-weight-bold mb-0 h5 d-block"><%= @count %></div>
                <small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Total</small>
            </li>
        </ul>
    </div>

    <div class="py-4 px-4">
        <div class="py-4">
            <h5 class="mb-3">Recent categories</h5>

            <div class='row posts-row' id='categories'>
                <%= turbo_stream.prepend "categories" do %>
                    <%= render partial: "categories/category", collection: @categories %>
                <% end %>
            </div>

            <%==pagy_nav(@pagy) %>
        </div>
    </div>
</div>